.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link
                | События
                svg(width='10', height='86')
                    use(xlink:href='#arrow')
        li.breadcrumbs__item
            a.breadcrumbs__link
                | Прошедшие
                svg(width='10', height='6')
                    use(xlink:href='#arrow')