header.main-header
    .container-max
        .flex-between
            .logo
                a(href="index.html").logo__link
                    img(src='./assets/img/assets/logo.svg', alt='Логотип').logo__img
            nav.nav.main-header__nav
                ul.nav__list.flex-between
                    li.nav__item.active
                        a.nav__link Главная
                    li.nav__item.arrow
                        a(href="#").nav__link Деятельность
                        ul.inner-list
                            li.inner-list__item
                                a(href="#").inner-list__link Деятельность 1
                            li.inner-list__item
                                a(href="#").inner-list__link Деятельность 2
                            li.inner-list__item
                                a(href="#").inner-list__link Деятельность 3
                    li.nav__item.arrow
                        a(href="#").nav__link Темы
                        ul.inner-list
                            li.inner-list__item
                                a(href="#").inner-list__link Тема 1
                            li.inner-list__item
                                a(href="#").inner-list__link Тема 2
                            li.inner-list__item
                                a(href="#").inner-list__link Тема 3
                    li.nav__item
                        a(href="#").nav__link Проекты
                    li.nav__item
                        a(href="#").nav__link Поиск партнеров
                    li.nav__item
                        a(href="#").nav__link Статьи
                    li.nav__item
                        a(href="#").nav__link Календарь
                    li.nav__item.arrow
                        a(href="#").nav__link О нас
                        ul.inner-list
                            li.inner-list__item
                                a(href="#").inner-list__link О нас 1
                            li.inner-list__item
                                a(href="#").inner-list__link О нас 2
                            li.inner-list__item
                                a(href="#").inner-list__link О нас 3
                    li.nav__item
                        a(href="#").nav__link Контакты
            .main-header__wrapper
                .main-header__social.social
                    ul.social__list
                        li.social__item
                            a(href="#", area-label='Мы в Инстаграм', target="_blank").social__link.social__link--inst
                                svg(width='18', height='18')
                                    use(xlink:href='#inst')
                .lang
                    button(type="button", aria-label="Выбрать язык").lang__btn.lang__btn--main De
                    ul.lang__list
                        li.lang__item
                            a(aria-label="Закрыть").lang__btn.lang__btn--close
                        li.lang__item
                            a(href="#", aria-label="Английский").lang__btn En
                        li.lang__item
                            a(href="#", aria-label="Русский").lang__btn Ru
                        li.lang__item
                            a(href="#", aria-label="Немецкий").lang__btn.active De
                .burger
                    button(area-label='Открыть меню').burger-btn
        include ./mob-menu
