mixin input(id, type, label)
    .input-field
        input(id= id, type= type).project-input
        label(for= id).project-label= label

mixin error(id, type, label)
    .input-field.error
        input(id= id, type= type).project-input
        label(for= id).project-label= label
        span.error-text Неправильный email

mixin textarea(id, label)
    .input-field.error
        textarea(id= id).project-textarea
        label(for= id).project-label= label
        span.error-text error

mixin contact-card(src, title, pos, link, descr)
    article.contact-card
        .contact-card__container
            .contact-card__img-wrapper
                img(src= src, width="150", alt= title).contact-card__img
            .contact-card__info
                h3.contact-card__title= title
                span.contact-card__pos= pos
                p.contact-card__descr= descr
                a(href="#").contact-card__link.link= link

mixin card(src, title)
    article.card
        a(href="#").card__link
            .card__img-wrap
                img(src= src, width="572", alt= title).card__img
            .card__wrapper
                .h2.card__title= title


