extends ../layout/main
include ../utils/mixins
block variables
    - var pageTitle = 'Главная'

block content

    main
        .container
            h1 Партнеры
            .card-wrap
                +company(`./assets/img/mock/logo-1.png`, 186, `Ideas into energy gGmbH`, `www.ideas-into-energy.org`, `Некоммерческая организация, способствующая международному распространению возобновляемых источников энергии с использованием технологий устойчивой энергетики и защиты окружающей среды. Организация была основана в Берлине в 2017 году, осуществляет проекты по всему миру совместно с иностранными партнерами и регулярно получает гранты от правительства. Организация консультирует правительства, муниципалитеты, ассоциации и компании по вопросам внедрения и распространения альтернативных источников энергии в странах с высоким потенциалом применения. ideas into energy gGmbH также осуществляет исследовательские и образовательные проекты и кампании по распространению устойчивых решений. ideas into energy gGmbH является инициатором проекта «Солнечные Школы» с лета 2019 года.`)
                +company(`./assets/img/mock/logo-2.png`, 160, `Goethe Institut`, `www.goethe.de`, `Гёте-Институт является учреждением культуры Федеративной Республики Германия, отделения которого работают во многих странах мира. Его деятельность направлена на популяризацию немецкого языка за рубежом, расширение международного сотрудничества в области культуры, а также предоставление актуальной информации о культурной, общественной и политической жизни Германии. Различные культурные и образовательные программы поддерживают межкультурный диалог и способствуют культурному обмену. Гёте-Институт в Москве является соинициатором и первым основным партнёром проекта «Солнечные Школы» в России.`)
                +company(`./assets/img/mock/logo-3.png`, 169, `PASCH`, `www.pasch-net.de`, `Созданная в 2008 году Федеральным министерством иностранных дел инициатива "Школы - партнеры будущего" (PASCH) объединяет около 2000 школ в 120 странах, где немецкому языку уделяется особое внимание. PASCH-инициатива консультирует школы по методической разработке уроков немецкого языка, а также способствует профессиональному развитию учителей немецкого языка, предоставляя им возможность повышения квалификации. Ежегодно более 200.000 учеников PASCH-школ по всему миру принимают участие в образовательных проектах, конкурсах, языковых курсах, организованных PASCH-инициативой на местном, региональном и международном уровнях. PASCH-инициатива координирует и поддерживает PASCH-школы России, участвующие в проекте, и сопровождает директоров и учителей школ-участниц в реализации проекта на месте.`)
