extends ../layout/main
include ../utils/mixins
block variables
    - var pageTitle = 'Главная'

block content

    main
        .container
            article.article
                h1.article__title Партнерство
                .article__main-img
                    img(src="./assets/img/mock/main-1.jpg", width="1170", alt="Описание к фото")
                p Краснодарский Край – самый южный пограничный регион России, богатый солнцем и при этом один из самых быстрорастущих и одновременно наиболее энергодефицитных регионов России. В отличие от большинства других регионов России, пик потребления электроэнергии в Краснодарском крае приходится на лето в связи с относительно мягкой зимой и жарким летом, когда температура превышает 35°C. Промышленные здания, офисы и частные дома широко используют системы кондиционирования воздуха для охлаждения во время жаркого лет.
                .flex-center.partnership-wrap
                    a(href="#").button Регистрация
                p Краснодарский Край входит в состав ЕЭС России (часть Единой Энергетической Системы России (ЕЭС), Объединенную Энергосистему (ОЭС) Юга, Кубанское Региональное Диспетчерское Управление (РДУ)). В настоящее время, в регионе ежегодно производится до 44% потребляемой электроэнергии. Оставшаяся часть импортируется из соседних энергосистем и закупается на оптовом рынке. При этом, энергопотребление в регионе растет и по оценкам экспертов, будет увеличиваться и в будущем. Почти 100% энергогенерирующих мощностей в регионе – это ТЭЦ и ТЭС, работающие на природном газе.