extends ../layout/main
include ../utils/mixins
block variables
    - var pageTitle = 'Главная'

block content

    main
        .container
            h1.title-gap Проекты
            h2 Наши проекты
            .card-wrap
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
            h2 Проекты наших партнеров
            .card-wrap
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
                +project-card(`./assets/img/mock/logo-9.png`, `112`, `Солнечные школы`, `Проект «Солнечные школы» дает учащимся уникальную возможность стать двигателем прогресса, внести свой вклад в современные технологии и охрану природы, а также стать частью глобального движения за чистое будущее, зеленую энергетику и устойчивое развитие. Обучаясь в школах...`)
