$mainFont                : 'Roboto', 'Arial', sans-serif;
$primaryFont             : 'Panton', 'Arial', sans-serif;
$thirdFont               : 'Rubik', 'Arial', sans-serif;

$main                    : #262D39;
$primary                 : #2D4E96;
$active                  : #C42A2E;
$secondary               : rgba(38, 42, 50, 0.5);
$back                    : #FDFEFF;

$desktopWidth            : 1440px;
$bigTbWidth              : 1200px;
$smDesktopWidth          : 1024px;
$tabletWidth             : 768px;
$mdTabletWidth           : 767px;
$smTabletWidth           : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
