.article {
  font-size: 18px;

  &__title {
    &--part {
      max-width: 80%;
    }
  }

  &__main-img {
    position: relative;
    padding-top: 29%;
    margin: 40px 0 60px;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
    }
  }

  &__details {
    margin-bottom: 20px;
    flex-wrap: nowrap;
  }

  &__points {
    width: auto;
    * {
      margin-right: 45px;
    }
  }

  &__points-wrap {
    width: auto;
    * {
      margin-right: 45px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__wrap {
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }

  &__materials-wrap {
    margin-bottom: 20px;
  }

  &__img-wrap {
    width: 21%;
    padding-top: 30%;
    margin-right: 4%;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &--mode {
      width: 49%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  &__info {
    flex-grow: 1;
  }

  &__logos {
    margin: 20px 0 0;
  }

  &__slider {
    margin: 20px 0 0;
  }

  &__slider-mode {
    margin: 40px 0;
  }

  &__project-header {
    margin: 40px 0;
  }

  p {
    margin: 20px 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding-left: 20px;
      margin: 10px 0;
      position: relative;

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: $main;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }

  a:not(.button) {
    color: $primary;
    text-decoration: none;
    transition: color .4s;

    &:hover{
      color: $active;
    }
  }

}


@media screen and (max-width: $tabletWidth) {
  .article {
    font-size: 16px;

    &__title {
      &--part {
        max-width: 100%;
      }
    }

    &__main-img {
      margin: 30px 0;
    }

    &__details {
      margin-bottom: 5px;
    }

    &__points {
      * {
        margin-right: 25px;
      }
    }

    &__wrap {
      margin-bottom: 20px;
    }

    p {
      margin: 15px 0;
    }

    ul {
      li {
        &::before {
          top: 6px;
        }
      }
    }

  }
}

@media screen and (max-width: $smTabletWidth) {
  .article {

    &__details {
      margin-bottom: 20px;
    }

    &__wrap {
      display: block;
    }

    &__img-wrap {
        width: auto;
        max-width: 280px;
        padding-top: 0;
        margin: 0 auto;
      }

      &__img {
        display: block;
        position: static;
      }
  }
}

@media screen and (max-width: $phoneWidth) {
  .article {
    font-size: 14px;

    &__points-wrap {
      width: 100%;
      flex-wrap: nowrap;
      margin-right: 0;
    }

    &__points {
      * {
        margin-right: 12px;
      }
    }

    &__slider-mode {
      margin: 20px 0;
    }

    &__project-header {
      margin: 20px 0;
    }
  }
}

