.btn-mode {
  display: flex;
  align-items: center;
  font-size: 16px;

  .btn {
    margin-right: 10px;
    position: relative;
    z-index: -1;
  }

  &:hover .btn {
    border-color: $active;
  }

  &:hover svg {
    fill: $active;
  }
}

@media screen and (max-width: $tabletWidth) {
  .btn-mode {
    font-size: 12px;
  }
}