.contacts-form {
  padding: 5% 4%;
  margin: 45px 0 20px;
  font-family: $primaryFont;
  background: #FFFFFF;
  border: 1px solid rgba(45, 78, 150, 0.1);
  border-radius: 10px;
  box-shadow: 0px 15px 14px rgba(0, 0, 0, 0.03);

  &__left,
  &__right {
    width: calc(50% - 15px);
    flex-shrink: 0;
  }

  &__contacts {
    margin-bottom: 35px;
  }

  &__text {
    display: block;
    margin-bottom: 20px;
    font-family: $primaryFont;
    font-size: 22px;
  }

  &__button {
    width: 100%;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .contacts-form {
    margin-top: 20px;
    padding: 4% 3%;

    &__text {
      font-size: 18px;
      margin-bottom: 6px;
    }

    &__pos {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $smTabletWidth) {
  .contacts-form {
    display: block;

    &__left,
    &__right {
      width: 100%;
    }

    &__right {
      .input-field:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .contacts-form {
    padding: 20px 15px;
  }
}