.date {
  padding-left: 25px;
  color: $secondary;
  font-size: 14px;
  background-image: url("../img/assets/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center left 5px;
  background-size: 15px;
}

@media screen and (max-width: $tabletWidth) {
  .date {
    font-size: 12px;
    background-size: 13px;
  }
}