.event-type {
  display: inline-block;
  padding: 5px 15px;
  margin: 3px 0;
  color: $main;
  font-size: 18px;
  opacity: 0.8;
  background: #D8DFEC;
  border-radius: 3px;
}

@media screen and (max-width: $tabletWidth)  {
  .event-type {
      font-size: 14px;
  }
}

@media screen and (max-width: $smTabletWidth) {
  .event-type {
    padding: 2px 7px;
    font-size: 12px;
  }
}