.inner-list {
    margin: 0;
    padding: 0 20px;
    list-style: none;
    width: 200px;
    background: #FFF;
    border: 1px solid #2D4E96;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    left: 35px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: visibility .2s ease,opacity .2s ease,transform .2s ease;

    &__link {
        font-family: $primaryFont;
        display: block;
        width: 100%;
        padding: 10px 0;
        color: $main;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #F2F2F2;
        transition: color .5s;
        outline: none;
    
        &:hover,
        &:focus {
          color: $secondary;
        }
      }
}

@media screen and (max-width: 1445px) {
    .inner-list {
        left: 10px;
    }
}