.lang {
    position: relative;
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: -5px;
        left: -5px;
        display: none;

        &.active {
            display: block;
        }
    }

    &__item {
        margin: 5px;
    }

    &__btn {
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        font-family: $thirdFont;
        color: $primary;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        line-height: 2.4;
        letter-spacing: -0.02em;
        background-color: #fff;
        border: 1px solid rgba(45, 78, 150, 0.1);
        border-radius: 50%;
        box-shadow: 0px 15px 14px rgba(0, 0, 0, 0.03);
        cursor: pointer;
        outline: none;
        transition: background-color .4s, color .4s, border-color .4s;

        &--main {
            &:hover,
            &:focus {
                color: #fff;
                background-color: $primary;
            }
        }

        &:not(.lang__btn--main):hover,
        &:not(.lang__btn--main):focus {
            color: $main;
            border-color: $primary;
        }

        &:not(.lang__btn--main).active {
            color: #fff;
            background-color: $primary;
            cursor: default;
        }

        &--close {
            background-color: $active;
            background-image: url("../img/assets/icon-close-white.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;

            &:not(.lang__btn--main):hover {
                color: #fff;
                background-color: $main;
                border-color: $main;
            }
        }
    }
}

@media screen and (max-width: $tabletWidth) {
    .lang {
        &__btn {
            width: 40px;
            height: 40px;
            font-size: 16px;
        }
    }
}