.logo {

    &__link {
        display: block;
    }

    &__img {
        display: block;
        width: 168px;
        object-fit: contain;
    }
}

@media screen and (max-width: $smTabletWidth) {
    .logo {
        &__img {
            width: 122px;
        }
    }
}