.main {
  &__row {
    flex-wrap: nowrap;
  }
  &__title {
    min-width: 95px;
    font-family: $thirdFont;
    margin: 0 50px 0 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.03em;
  }

  &__item {
    padding: 15px 0;
    margin-right: 55px;
    filter: sepia(100%) hue-rotate(190deg) saturate(50%) brightness(0.9);
    opacity: .7;
    outline: none;
    transition: opacity 0.4s, filter .2s ease-in-out;

    &:hover {
      filter:none;
      opacity: 1;
    }
  }

  &__video {
    margin-bottom: 40px;
  }

  .slider__dots {
    margin-top: 20px;
    margin-left: 0;
  }
}