.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: $tabletWidth) {
  .main-grid {
    grid-gap: 15px;
  }
}

@media screen and (max-width: $smTabletWidth) {
  .main-grid  {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $phoneWidth) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}