.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    flex-grow: 1;
    position: relative;

    &.active .nav__link {
      color: $active;
      cursor: default;
    }

    &.active.arrow::after {
      border-left-color: $active;
      border-bottom-color: $active;
    }

    &:hover .inner-list {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      z-index: 10;
      transition: opacity .08s ease, transform .08s ease;
    }

    &--inner {
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      font-family: $thirdFont;
      font-weight: 500;
      outline: none;
      white-space: nowrap;
      transition: color .4s;

      &.active span::after {
        transform: rotate(135deg);
        right: 3px;
      }

      span {
        padding-right: 23px;
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: rotate(-45deg) translateY(-10px);
          border: 2px solid #fff;
          border-right-color: transparent;
          border-top-color: transparent;
          border-top-left-radius: 3px;
          border-bottom-right-radius: 3px;
          transition: all 0.4s;
        }

        &:hover,
        &:focus {
          color: #BBC4CF;
        }

        &:hover::after {
          border: 2px solid #BBC4CF;
          border-right-color: transparent;
          border-top-color: transparent;
        }
      }
    }
  }

  &__link {
    font-family: $thirdFont;
    display: block;
    width: 100%;
    padding: 10px 35px;
    color: $main;
    font-size: 14px;
    text-align: center;
    font-weight:700;
    transition: color .5s;
    outline: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

@media screen and (max-width: 1445px) {
  .nav {
    .arrow:after {
      right: 8px;
    }
    .arrow &__link {
      padding-right: 20px;
    }
    &__link {
      padding: 10px 15px;
    }
  }
}

@media screen and (max-width: $bigTbWidth) {
  .nav {
    &__list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__link {
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      text-align: left;

      &:hover,
      &:focus {
        color: #BBC4CF;
      }
    }
  }
}