.slick-slide {
  &:active {
    border: none;
  }
}

.slick-dots li {
  margin: 0;

  &::before {
    display: none;
  }
}

.slick-dots li button:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #262D39;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .4;
}

.slick-dots li.slick-active button:before {
  width: 10px;
  height: 10px;
  opacity: 1;
}