.slider {
  margin: 0 -10px;

  &__wrap {
    padding: 0 10px;
  }

  &__img-wrap {
    padding-top: 64%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  &__dots {
    min-width: 150px;
    margin-left: 20px;
    position: relative;

    .slick-dots {
      text-align: left;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  &__arrow {
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50% - 6px);
    cursor: pointer;
    outline: none;
    z-index: 10;

    svg {
      fill: $main;
      transition: fill .4s;
    }

    &:hover,
    &:focus {
      svg {
        fill: $active;
      }
    }
  }

  &__prev {
    left: -40px;
    transform: rotate(90deg);
  }

  &__next {
    right: -40px;
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .slider {
    &__prev {
      left: 5px;
    }

    &__next {
      right: 5px;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .slider {
    &__wrap {
      width: 70vw;
    }

    &__arrow {
      display: none !important;
    }

    &__dots {
      .slick-dots {
        text-align: right;
      }
    }
  }
}

