.text-block {
  font-size: 18px;

  p {
    margin: 20px 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding-left: 20px;
      margin: 10px 0;
      position: relative;

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: $main;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }

  a {
    color: $primary;
    text-decoration: none;
    transition: color .4s;

    &:hover,
    &:focus {
      color: $active
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .text-block {

    font-size: 14px;

    p {
      margin: 15px 0;
    }

    ul {
      li {
        &::before {
          top: 6px;
        }
      }
    }

  }
}